.alert {
    padding: 1em 1.5em;
    border-radius:5px;
    span {
        font-size: 1.075rem;
        line-height: 1.5;
      }
  }
  .consent_banner {
    display: flex;
    justify-content: space-between;

    .close {
      position: unset;
    }
  }
  